<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WinGauntlet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WinGauntlet.Properties.Settings>
            <setting name="tickfolder" serializeAs="String">
                <value>c:\program files\tradelink\tickdata\</value>
            </setting>
            <setting name="boxdll" serializeAs="String">
                <value>c:\program files\tradelink\tradelinksuite\box.dll</value>
            </setting>
            <setting name="boxfolder" serializeAs="String">
                <value>c:\program files\tradelink\tradelinksuite\</value>
            </setting>
            <setting name="saveonexit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="clearorders" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cleartrades" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="clearmessages" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="writeonmessages" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ordersinwind" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ordersincsv" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="tradesincsv" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="tradesinwind" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="indicatorsincsv" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="csvnamesunique" serializeAs="String">
                <value>True</value>
            </setting>
        </WinGauntlet.Properties.Settings>
    </userSettings>
</configuration>