<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ServerEsignal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ServerEsignal.Properties.Settings>
            <setting name="accountorappname" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultBarsBack" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="VerboseDebugging" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReleaseBarHistoryAfterSending" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WaitBetweenEvents" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="ReleaseDeadSymbols" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BarRequestsuseAllData" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TLClientAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="TLClientPort" serializeAs="String">
                <value>50000</value>
            </setting>
            <setting name="AllowSendOfInvalidBars" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PaperTrade" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PaperTradeUseBidAsk" serializeAs="String">
                <value>False</value>
            </setting>
        </ServerEsignal.Properties.Settings>
    </userSettings>
</configuration>