<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ASP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ASP.Properties.Settings>
            <setting name="boxdll" serializeAs="String">
                <value />
            </setting>
            <setting name="accountname" serializeAs="String">
                <value />
            </setting>
            <setting name="usevirtualids" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="brokertimeoutsec" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="prefquote" serializeAs="String">
                <value>TradeLink</value>
            </setting>
            <setting name="prefexecute" serializeAs="String">
                <value>TradeLink</value>
            </setting>
            <setting name="feedfallback" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="defaultdest" serializeAs="String">
                <value />
            </setting>
            <setting name="TickBufferSize" serializeAs="String">
                <value>100000</value>
            </setting>
            <setting name="TicketTracking" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TicketsOnClose" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TicketsOnCloseMaxAttempts" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ServerPort" serializeAs="String">
                <value>50000</value>
            </setting>
            <setting name="ServerIpAddresses" serializeAs="String">
                <value />
            </setting>
            <setting name="VerboseDebugging" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="portal" serializeAs="String">
                <value />
            </setting>
            <setting name="un" serializeAs="String">
                <value />
            </setting>
            <setting name="pw" serializeAs="String">
                <value />
            </setting>
            <setting name="capitalconnections" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="saveindicators" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseMarketTimeStamps" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OversellProtection" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OversellSplit" serializeAs="String">
                <value>False</value>
            </setting>
        </ASP.Properties.Settings>
    </userSettings>
	<system.net>
<settings>
            <servicePointManager expect100Continue="false" />
</settings>
</system.net>
</configuration>