<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Quotopia.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TradeIt.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Quotopia.Properties.Settings>
            <setting name="marketbgcolor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="marketfont" serializeAs="String">
                <value>Microsoft Sans Serif, 9.75pt</value>
            </setting>
            <setting name="marketfontcolor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="uptickcolor" serializeAs="String">
                <value>LawnGreen</value>
            </setting>
            <setting name="downtickcolor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="boxdllpath" serializeAs="String">
                <value />
            </setting>
            <setting name="colhide" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>BuyerCol</string>
                        <string>SellerCol</string>
                        <string>BuyMinSizeCol</string>
                        <string>SellMinSizeCol</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="gridcolor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ticfolderpath" serializeAs="String">
                <value />
            </setting>
            <setting name="highcolor" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="lowcolor" serializeAs="String">
                <value>Maroon</value>
            </setting>
            <setting name="wsize" serializeAs="String">
                <value>613, 429</value>
            </setting>
            <setting name="highcolorbg" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="tickcolorfg" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MaximumSize" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="MinimumSize" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="saveonexit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="colheaderbg" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="colheaderfg" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="tlmode" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="savesymbollist" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="enablebox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chartcol" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="headerfont" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt, style=Bold</value>
            </setting>
            <setting name="boxdebug" serializeAs="String">
                <value>True</value>
            </setting>
        </Quotopia.Properties.Settings>
        <TradeIt.Properties.Settings>
            <setting name="Send2LiveAnvil" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MINSIZE" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="marketbgcolor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="marketfont" serializeAs="String">
                <value>Microsoft Sans Serif, 9.75pt</value>
            </setting>
            <setting name="marketfontcolor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="uptickcolor" serializeAs="String">
                <value>LawnGreen</value>
            </setting>
            <setting name="downtickcolor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="boxdllpath" serializeAs="String">
                <value />
            </setting>
            <setting name="colhide" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>BuyerCol</string>
                        <string>SellerCol</string>
                        <string>BuyMinSizeCol</string>
                        <string>SellMinSizeCol</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="gridcolor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ticfolderpath" serializeAs="String">
                <value />
            </setting>
            <setting name="highcolor" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="lowcolor" serializeAs="String">
                <value>Maroon</value>
            </setting>
        </TradeIt.Properties.Settings>
    </userSettings>
</configuration>