<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ServerDBFX.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ServerDBFX.Properties.Settings>
            <setting name="un" serializeAs="String">
                <value />
            </setting>
            <setting name="pw" serializeAs="String">
                <value />
            </setting>
            <setting name="type" serializeAs="String">
                <value>Demo</value>
            </setting>
            <setting name="TLClientPort" serializeAs="String">
                <value>50000</value>
            </setting>
            <setting name="TLClientAddress" serializeAs="String">
                <value />
            </setting>
        </ServerDBFX.Properties.Settings>
    </userSettings>
</configuration>