<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ServerRithmic.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ServerRithmic.Properties.Settings>
            <setting name="VerboseDebugging" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="user" serializeAs="String">
                <value />
            </setting>
            <setting name="pw" serializeAs="String">
                <value />
            </setting>
            <setting name="TLClientAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="TLClientPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="sAdmCnnctPt" serializeAs="String">
                <value>dd_admin_sslc</value>
            </setting>
            <setting name="sTsCnnctPt" serializeAs="String">
                <value>login_agent_uatc</value>
            </setting>
            <setting name="sMdCnnctPt" serializeAs="String">
                <value>login_agent_sim_uatc</value>
            </setting>
        </ServerRithmic.Properties.Settings>
    </userSettings>
</configuration>