<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IQFeedBroker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <IQFeedBroker.Properties.Settings>
            <setting name="UserID" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="PROGRAM_NAME" serializeAs="String">
                <value />
            </setting>
            <setting name="ADMINISTRATION_SOCKET_NAME" serializeAs="String">
                <value>Admin</value>
            </setting>
            <setting name="LEVEL_ONE_SOCKET_NAME" serializeAs="String">
                <value>Level1</value>
            </setting>
            <setting name="IP_LOCAL_HOST" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="TLClientAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="TLClientPort" serializeAs="String">
                <value>50000</value>
            </setting>
            <setting name="ReleaseDeadSymbols" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DtnPath" serializeAs="String">
                <value />
            </setting>
            <setting name="Port" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PaperTrade" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PaperTradeUsesBidAsk" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IgnoreAfterTimeWithBefore" serializeAs="String">
                <value>150000</value>
            </setting>
            <setting name="IfBeforeTimeUseIgnoreAfter" serializeAs="String">
                <value>100000</value>
            </setting>
            <setting name="ReportLatency" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveRawFeed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IgnoreOutofOrderTicks" serializeAs="String">
                <value>False</value>
            </setting>
        </IQFeedBroker.Properties.Settings>
    </userSettings>
</configuration>