<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ServerBlackwood.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ServerBlackwood.Properties.Settings>
            <setting name="un" serializeAs="String">
                <value />
            </setting>
            <setting name="ipaddress" serializeAs="String">
                <value>72.5.42.102</value>
            </setting>
            <setting name="dataport" serializeAs="String">
                <value>5200</value>
            </setting>
            <setting name="orderport" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="historicalport" serializeAs="String">
                <value>5300</value>
            </setting>
            <setting name="wlocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="TLClientAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="TLClientPort" serializeAs="String">
                <value>50000</value>
            </setting>
            <setting name="VerboseDebugging" serializeAs="String">
                <value>False</value>
            </setting>
        </ServerBlackwood.Properties.Settings>
    </userSettings>
</configuration>