<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TDServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TDServer.Properties.Settings>
            <setting name="sourceid" serializeAs="String">
                <value />
            </setting>
            <setting name="username" serializeAs="String">
                <value />
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
            <setting name="TLClientAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="TLClientPort" serializeAs="String">
                <value>50000</value>
            </setting>
        </TDServer.Properties.Settings>
    </userSettings>
  <connectionStrings>
    <add name="TradeLinkDB"
         connectionString="server=localhost;user id=root;Password=jinx20;database=beancounter"
    providerName="MySql.Data.MySqlClient" />
  </connectionStrings>


</configuration>