<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ServerGenesis.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ServerGenesis.Properties.Settings>
            <setting name="user" serializeAs="String">
                <value />
            </setting>
            <setting name="pw" serializeAs="String">
                <value />
            </setting>
            <setting name="executeip" serializeAs="String">
                <value>69.64.202.155</value>
            </setting>
            <setting name="executeport" serializeAs="String">
                <value>16888</value>
            </setting>
            <setting name="quoteip" serializeAs="String">
                <value>69.64.202.155</value>
            </setting>
            <setting name="quoteport" serializeAs="String">
                <value>16811</value>
            </setting>
            <setting name="l2ip" serializeAs="String">
                <value>69.64.202.155</value>
            </setting>
            <setting name="l2port" serializeAs="String">
                <value>16810</value>
            </setting>
        </ServerGenesis.Properties.Settings>
    </userSettings>
</configuration>