<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RealTickConnector.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RealTickConnector.Properties.Settings>
            <setting name="TLServerIpAddresses" serializeAs="String">
                <value />
            </setting>
            <setting name="TLServerPort" serializeAs="String">
                <value>50000</value>
            </setting>
        </RealTickConnector.Properties.Settings>
    </userSettings>
</configuration>